@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-ink-50 text-ink-900 font-sans antialiased;
}

/* Scrollbar tweaks */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
*::-webkit-scrollbar-thumb {
  background: #c1cadd;
  border-radius: 8px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
